{% extends '_layout/base.html' %}
{% block content %}
<div style="margin: 60px auto">
    <div class="row justify-content-lg-center">
      <div class="col-12 col-lg-9">
        <div class=" border rounded shadow-sm overflow-hidden">

          <form method="post" action="{% url 'Accounts:login' %}">
              {% csrf_token %}
              <br>
              <h1  class="text-center" style="color: #b87024">login</h1>
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
{#                {{ form.as_div }}#}
              <div class="col-12" style="padding: 10px">
                <label for="fullname" class="form-label">User Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="username" value="" required>
              </div>
                <br>
              <div class="col-12" style="padding:10px ">
                <label for="fullname" class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" name="password" value="" required>
              </div>
                <br>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}